// less than 300
@media (width>200px) and (height<900px){
    .container{
      
        position:relative;
        height:100%;
        display:block;
        @media (width >200px){
            font-size:1.5rem;
            line-height:1.3;
        }  
        @media (width >300px){
            font-size:1rem;
            line-height:1.3;
        }
        @media (width >350px){
            font-size:1.8rem;
            line-height:1.6;
        }
        @media (width >400px){
            font-size:1.9rem;
            line-height:1.7;
        }
        @media (width >500px){
            font-size:2rem;
            line-height:1.6;
        }
        width:93%;
        margin:auto;
        overflow:none;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        .ulList{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: pink;
            text-align: center;
            list-style: none;
            clip-path: polygon(48% 0, 100% 0, 100% 81%, 75% 100%, 0 100%, 0 26%);
            padding-top:5%;
            padding-bottom:5%;
            li{
                position:relative;
                -webkit-text-stroke: 0.7px green;
                text-shadow: 2px 3px 4px red;
            }
            li:hover{
               letter-spacing: 3px;
            }
        }
      
        
    }
    .container::-webkit-scrollbar {
        width: 10px;
      }
 
      .container::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        opacity:0.5;
      }
      .container::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius:10px;
      }
      .container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
}

@media (width>200px) and (height<900px){
    .container{
        
        position:relative;
        height:100%;
        display:block;
        font-size:1.8rem;
        overflow-y:scroll;
        @media (width >300px){
            font-size:2rem;
        }
        @media (width>350px){
            font-size:2.1rem;
        }
       
        @media (width >450px){
           
            font-size:2.2rem;
            line-height:1.6;
        }
        @media (width >550px){
           
            font-size:2.4rem;
            line-height:1.4;
        }
        @media (width >700px){
            font-size:2.3rem;
            line-height:1.6;
        }
        @media (width >1000px){
            font-size:2.4rem;
            line-height:1.4;
        }
        @media (width >1500px){
            font-size:2.7rem;
            line-height:1.6;
        }
        width:93%;
        margin:auto;
        overflow:none;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        .ulList{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: pink;
            text-align: center;
            list-style: none;
            clip-path: polygon(48% 0, 100% 0, 100% 81%, 75% 100%, 0 100%, 0 26%);
            padding-top:5%;
            padding-bottom:5%;
            li{
                position:relative;
                -webkit-text-stroke: 0.7px green;
                text-shadow: 2px 3px 4px red;
            }
            li:hover{
               letter-spacing: 3px;
            }
        }
      
        
    }
    .container::-webkit-scrollbar {
        width: 10px;
      }
 
      .container::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        opacity:0.5;
      }
      .container::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius:10px;
      }
      .container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
}
@media (width>200px) and (height>900px){
    .container{
        
        position:relative;
        height:100%;
        display:block;
        font-size:1.8rem;
        overflow-y:scroll;
        @media (width >300px){
            font-size:2rem;
        }
        @media (width>350px){
            font-size:2.1rem;
        }
       
        @media (width >450px){
           
            font-size:3rem;
            line-height:1.6;
        }
        @media (width >550px){
           
            font-size:3rem;
            line-height:1.4;
        }
        @media (width >700px){
            font-size:3rem;
            line-height:1.6;
        }
        @media (width >1000px){
            font-size:3.4rem;
            line-height:1.4;
        }
        @media (width >1500px){
            font-size:3.7rem;
            line-height:1.6;
        }
        width:93%;
        margin:auto;
        overflow:none;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
        .ulList{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: pink;
            text-align: center;
            list-style: none;
            clip-path: polygon(48% 0, 100% 0, 100% 81%, 75% 100%, 0 100%, 0 26%);
            padding-top:5%;
            padding-bottom:5%;
            li{
                position:relative;
                -webkit-text-stroke: 0.7px green;
                text-shadow: 2px 3px 4px red;
            }
            li:hover{
               letter-spacing: 3px;
            }
        }
      
        
    }
    .container::-webkit-scrollbar {
        width: 10px;
      }
 
      .container::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        opacity:0.5;
      }
      .container::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius:10px;
      }
      .container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
}