.container{
    position: relative;
    height:100%;
   
.preamble{
    width:100%;
    padding-top:10px;
    height:10%;


    h1{
        font-size:3rem;
        text-align: center;
        font-family:monospace;
        -webkit-text-stroke:0.4px #00ca00;
    }
    p{
        font-size:1.5rem;
        text-indent: 3%;
        font-family:monospace;
        padding-bottom: 3%;
        -webkit-text-stroke:1px #ca00ca
    }

}

    .favouriteSports{
        width:100%;
        background-color: skyblue;
        height:90%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:3%;
     
        overflow-y:scroll;
        
        .article{
            width:90%;
            height:fit-content;
            border:3px groove silver;
            margin-bottom: 5%;
           
            .title{
                font-size:2rem;
                text-align: center;
                -webkit-text-stroke:1px red;
                    
                background:linear-gradient(55deg,lighten(magenta,30%),lighten(green,60%),lighten(blue,30%));
            }
          
            .img{
                width:100%;

            }
            .describe{
              
                background:linear-gradient(55deg,lighten(magenta,30%),lighten(green,60%),lighten(blue,30%));
                text-align: center;
                font-size:1.3rem;
               
            }
        }

    }
}