.container{
overflow:hidden;
  box-sizing: border-box;
  width:100%;
  height:500vh;

  .nav{
    position: relative;
    width:100%;
    height:4%;
    z-index:2;
  
  }
  .main{
    position:relative;
    height:80%;
    z-index:0;
   
  
 
  
  }
  .footer{
    height:16%;
   

  }

}
@media (width>= 700px){
  .container{
    overflow:hidden;
      box-sizing: border-box;
      width:100%;
      height:500vh;
    
      .nav{
        position: relative;
        width:100%;
        height:4%;
        z-index:2;
      
      }
      .main{
        position:relative;
        height:80%;
        z-index:0;
        border:5px solid green;
       
      
     
      
      }
      .footer{
        height:16%;
       
    
      }
    
    }
}