@import './mixins/mediaQuery';
@include mq(xsmall){
    .container{
        background-color: lighten(pink,10%);
        width:100%;
        height:40%;
      
     
       
      
     
        .introductory{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            height:7%;
        
            
       
           .titleParent{
            position: relative;
            width:100%;
            height:100%;
            background: #383d52;
            display:flex;
            justify-content: center;
            .title{
                display: flex;
                
                position: absolute;
               
                color:#252839;
                text-transform: uppercase;
                align-items: center;
          
         
            
                -webkit-text-stroke:0.5px #383d52;
                width:fit-content;
                height:100%;
                font-size:2.5rem;
                white-space: nowrap;
                @media(min-width:300px){
                    font-size:4rem;
                }
                @media(min-width:400px){
                    font-size:4.8rem;
                }
        
               
              
                
              
            }
           }
            .title::before{
                content:"My projects...";
                color:aquamarine;
           
                position: absolute;
                display: flex;
                align-items: center;
         
              

            
             
               
         
                width:0;
                overflow:hidden;
               border-right:2px solid #00ca00;
                height:100%;
                animation:text 6s infinite;
                white-space: nowrap;
            }
           
            @keyframes text{
                0%,10%,100%{
                    width:0%;
                }
          
                70%,90%{
                    width:100%;
                }
            }
        }
    .myProjectsContainer{
        width:100%;
        display:flex;
       align-items: center;
        flex-direction: column;
        height:93%;
        overflow-y:scroll;
      
        .articleGame{
            position: relative;
            margin:10%;
           
            width:80%;
            height:60%;
           
        
            box-shadow:0px 0px 5px 5px rgba(0,0,0,0.6),0px 0px 7px 7px rgba(0,0,250,0.6),0px 0px 12px 12px rgba(0,0,0,0.6);
            .title{
                width:100%;
                height:10%;
                font-size:4rem;
                text-align: center;
                position: relative;
                z-index:2;
                background: linear-gradient(45deg,red,blue,green);
                -webkit-text-stroke:1px white;
              
            }
            .title::after{
                content:"";
                position: absolute;
                width:100%;
                height:100%;
                left:0;
                clip-path: polygon(84% 52%, 100% 0, 100% 43%, 100% 100%, 74% 69%, 29% 68%, 0 100%, 0 0, 19% 52%);
                background-color: rgba(212,10,122,0.8);
             
    
                top:-50%;
                z-index:1;
            }
            img{
    
                width:100%;
                height:40%;
            }
            .describe{
                position: relative;
                text-align: center;
                padding: 10px;
                width:90%;
                left:5%;
                background-color: rgba(255, 255, 255, 0.95);
                border:1px dotted brown;
                box-shadow: inset 0px 0px 5px 5px rgba(0,0,250,0.6);
                height:40%;
                z-index:2;
               font-family:Georgia, 'Times New Roman', Times, serif;
               line-height: 1;
               transition:background-color 0.8s,color 0.8s;
               font-size:0.8rem;
               display: flex;
               align-items: center;
               line-height: 2;
               font-weight:bold;
               
               @media(min-width:250px){
                font-size:1rem;
               }
               @media(min-width:300px){
                font-size:1.1rem;
               }
               @media(min-width:360px){
                font-size:1.3rem;
                line-height: 1.4;
               }
               @media(min-width:420px){
                font-size:1.6rem;
                line-height: 1.4;
                font-weight:400;
               }
            }
            .describe:hover{
                background-color: rgba(55, 255, 255, 1);
                color:white;
                -webkit-text-stroke:1px black;
            }
            .button{
                position: absolute;
                width:50%;
                height:10%;
                background-color: bisque;
                left:25%;
                bottom:-5%;
                z-index:2;
                transition:background-color 0.6s;
                box-shadow:1px 1px 1px 1px rgba(62, 3, 171, 0.3);
                overflow:hidden;
                
            }
            .button::before{
                content:"";
                position: absolute;
                width: 100%;
                height: 10%;
                background-color: red;
                border-radius:10%;
                top:0;
                left:-100%;
                transition:left 2s;
                
            }
            .button::after{
                content:"";
                position: absolute;
                width: 100%;
                height: 10%;
                background-color: red;
                border-radius:10%;
               
                bottom:0;
                left:100%;
                transition:left 2s;
                
            }
            
            .button:hover{
                background-color:darken(orange,1%);
                font-weight:bold;
    
            }
            .button:hover::before{
                left:100%;
            }
            .button:hover::after{
                left:-100%;
            }
            span{
                display:block;
                width:100%;
                height:100%;
                position: absolute;
                background-color: rgba(250,250,250,0.8);
                z-index:1;
                top:0;
                clip-path: polygon(52% 55%, 82% 94%, 100% 43%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 30% 85%);
            }
        }
    }
    }
}
