.container{
    background-color: lighten(skyblue,0%);
  
    width:33.33%;
    height:25%;
    background: url("../public/MarcinZdj.png");
 
    animation-delay: calc(0.1s * var(--i));
    transition:transform 0.5s;
    overflow:hidden;


}
.container:nth-child(1){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.1s;
    transform:translateX(100%)translateY(100%)
}
.container:nth-child(2){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.2s;
    transform:translateY(100%)
}
.container:nth-child(3){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.3s;
    transform:translateX(-100%)translateY(100%)
}
.container:nth-child(4){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.4s;
    transform:translateX(100%)
}
.container:nth-child(5){
   
}
.container:nth-child(6){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.5s;
    transform:translateX(-100%)
}
.container:nth-child(7){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.6s;
    transform:translateX(100%)translateY(-100%)
}
.container:nth-child(8){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.7s;
    transform:translateY(-100%)
}
.container:nth-child(9){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.8s;
    transform:translateX(-100%)translateY(-100%)
}
.container:nth-child(10){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 0.9s;
    transform:translateX(100%)translateY(-200%)
}
.container:nth-child(11){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 1s;
    transform:translateY(-200%)
}
.container:nth-child(12){
    animation:backToOriginPosition 3s linear forwards;
    animation-delay: 1.1s;
    transform:translateX(-100%)translateY(-200%)
}



@keyframes backToOriginPosition{
    0%{
    
    }
    50%{
        transform:translateX(0)translateY(0)
    }
    100%{ transform:translateX(0)translateY(0)}
}