.container{
    background-color: lighten(skyblue,0%);
  
    width:33.33%;
    height:25%;
    background: url("../public/MarcinZdj.png");
    animation:faceMove 0.5s 10 backwards;
    animation-delay: calc(0.1s * var(--i));
    transition:transform 0.5s;
    overflow:hidden;
    
  
}
.container:hover{
    transform:rotateX(180deg);
    
   
}
@keyframes faceMove{
    0%{
        transform:rotateX(0deg)
    }
    50%{
        transform:rotateX(180deg)
    }
    70%{
        transform:rotateY(180deg)
    }
    100%{
        transform:rotateX(0deg)
    }
}